@import "../../../styles/utils";

.form {
  /*display: flex;
  flex-direction: column;*/
  margin-bottom: 1rem;
  .title {
    border-bottom: 1px solid $oc-gray-8;
    padding-bottom: 0.75rem;

    font-size: 1.25rem;
    font-weight: 500;
  }

  input {
    width : 100%;
    height: 50px;
    margin: 10px 0 10px;
    float:left;
  }
  input[name="title"]{ margin-top:20px;}
  input[name="price"]{width:80%;}
  textarea { width:100%; height:300px; float:left}
  button {
      margin:10px 0 10px 10px;
      float:left;
      width:19%;
      height:50px;
  }
}
