@import "../../../styles/utils";


 .product-item {
     // display:flex;
     // align-items : center;
     position: relative;
     width: 48%;
     height :500px;
     float:left;
     background : $oc-gray-5;
     padding-left : 1rem;
     padding-right : 1rem;
     cursor : pointer;
     margin : 10px;


     .product {
         color : white;
         font-size : 1.25rem;
         .product-tag {
             width:100%;
             float:left;
             height:50px;

             margin:10px 0px 10px;
         }
         .product-tag1 { text-align: center; padding:20px;}
         .product-tag2 {
             height:340px;
             border:1px solid #fff;
             border-radius: 10px;
             box-sizing: border-box;
             padding: 10px;
         }
         .product-tag3 {
             box-sizing: border-box;
             padding: 10px;}
     }
     .delete {
        position: absolute;
        right:10px;
        top: 0;
        z-index: 20;
        margin-left: auto;
        cursor: pointer;
        color: white;
        font-weight: 800;
        font-size: 2rem;
        user-select: none;
     }
    .updatee {
        position: absolute;
        right:10px;
        top: 35px;
        z-index: 20;
        margin-left: auto;
        cursor: pointer;
        color: white;
        font-weight: 800;
        font-size: 1.2rem;
        user-select: none;
    }
    .return {
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        color: white;
        font-weight: 800;
        font-size: 1.5rem;
    }
    input {
        height: 50px;
        width: 100%;
        margin:10px 0px 10px;
        outline: none;
        background: $oc-gray-6;
        border: 1px solid $oc-gray-6;
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
        float:left;
    }
    input[name="price"]{
        width:80%;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    textarea {
        width:100%;
        height:340px;
    }
    button {
        margin:10px 0px 10px 3px;
        width:19%;
        height:50px;
    }
}
.editing {
background: $oc-gray-6;
}

.wrapper {
  margin: 0 auto;
display: flex;
  flex-direction: column;
width: 1024px;
  @include media("<medium") {
    width: 95%;
  }
padding-top: 1rem;
  padding-bottom: 1rem;
}
